$gray: #e5e5e5;
$dark-gray: #777;
$black: #000;
$brand-background: #7db87e;
$flipbook-blue: #036;
$flipbook-yellow: #f5c86e;
$white: #fff;
$invalid-red: #fa787e;
$valid-green: #78fa89;

.create-image {

  .image-canvas {
    background-color: $white;
    border: 1px solid $dark-gray;
    height: 330px;
    width: 302px;
  }

  .component-images {
    background-color: $white;
    border: 1px solid $gray;
    float: left;
    height: 108px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    transition: margin .25s ease-out;
    width: 108px;
  }

  .component-images:hover {
    border: 3px solid $dark-gray;
    box-shadow: 0 10px 5px $dark-gray;
    cursor: pointer;
    margin-top: 2px;
  }

  .clicked {
    border: 3px solid $flipbook-blue;
    cursor: pointer;
  }

  .clicked:hover {
    border: 3px solid $flipbook-blue;
    box-shadow: 0 10px 5px $dark-gray;
    cursor: pointer;
  }

  .radio-block {
    display: block;
  }

  .col-md-6 {
    margin: 0;
  }

  .ng-invalid.ng-dirty {
    border-color: $invalid-red;
  }

  .ng-valid.ng-dirty {
    border-color: $valid-green;
  }
}
