$gray: #e5e5e5;
$dark-gray: #777;
$black: #000;
$brand-background: #7db87e;
$flipbook-blue: #036;
$flipbook-yellow: #f5c86e;
$white: #fff;

.portfolio-item {
  margin-bottom: 25px;
}

.gif-thumbnail {
  border: 1px solid $flipbook-blue;
  cursor: pointer;
  max-width: 200px;
}

.gif-thumbnail:hover {
  box-shadow: 0 10px 5px $dark-gray;
}

.page-header {
  margin: 20px 0;
}
