$gray: #e5e5e5;
$dark-gray: #777;
$black: #000;
$brand-background: #7db87e;
$flipbook-blue: #036;
$flipbook-yellow: #f5c86e;
$white: #fff;

.portfolio-item {
  margin-bottom: 25px;
}

.gif-thumbnail {
  border: 1px solid $flipbook-blue;
  cursor: pointer;
  max-width: 200px;
}

.gif-details {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 0, 0, 0));
  // background: $black;
  color: $white;
  height: 40px;
  position: absolute;
  top: 0;
  width: 152px;
}

.gif-name {
  font-weight: bold;
}

.gif-comment {
  font-size: 75%;
}

.gif-options-button {
  display: none;
  margin-left: 5px;
  margin-top: -38px;
  position: absolute;
}

.gif-edit-button {
  display: none;
  margin-right: 18px;
  position: absolute;
  right: 0;
  top: 4px;
}

.gif-edit-panel {
  background-color: $white;
  border: 1px solid $black;
  height: 157px;
  position: absolute;
  top: 0;
  width: 152px;
}

.gif-thumbnail:hover {
  box-shadow: 0 10px 5px $dark-gray;

  .gif-options-button {
    display: block;
  }

  .gif-edit-button {
    display: block;
  }
}

.page-header {
  margin: 20px 0;
}
