$gray: #e5e5e5;
$dark-gray: #777;
$black: #000;
$brand-background: #7db87e;
$flipbook-blue: #036;
$flipbook-yellow: #f5c86e;
$white: #fff;

.single-gif {
  border: 1px solid $black;
  height: 302px;
  width: 302px;
}
