<div class="create-image" ng-controller="CreateimageCtrl as createImage">
  <h3>Canvas</h3>
  <div class="well well-sm">
    <div class="image-canvas">
      <input type="file" id="file_input">
      <canvas id="canvasEl" sketch></canvas>
      <a id="clear-image">clear image</a>
      <a id="download">Download as image</a>
      <form ng-submit="createImage.saveFrame($event)">
        <input type="hidden" ng-model="createImage.image.name" name="image[name]" value="imageName">
        <input type="submit" class="btn rounded-btn" value="save frame" />
      </form>
    </div>
  </div>
  <h5>Filmstrip</h5>
  <div ng-controller="FrameCtrl as frameCtrl" ng-repeat="image in createImage.componentImages">
    <div class="component-images" frame></div>
  </div>
</div>
