<div class="create-image" ng-controller="CreateimageCtrl as createImage">
  <h3>Canvas</h3>
  <div class="well well-sm">
    <div class="image-canvas">
      <input type="file" id="file_input">
      <canvas id="canvasEl" sketch></canvas>
      <a id="clear-image">clear image</a>
      <a id="download">Download as image</a>
    </div>
  </div>
  <h5>Filmstrip</h5>
  <div class="well well-sm filmstrip">
    <div class="component-images">
    </div>
    <div class="component-images">
    </div>
    <div class="component-images">
    </div>
    <div class="component-images">
    </div>
    <div class="component-images">
    </div>
  </div>
</div>
