<div class="well well-sm title-content">
  <h1>Welcome to Flipbook</h1>
  <h5>bring your images to life</h5>
</div>

<div class="row marketing">
  <h4>GIF Animator</h4>
  <p>
    Draw a scribble, save it as a 'frame' of a gif, and then put a bunch of them together to create a gif... like an online flipbook.
  </p>

  <h4>GifShot</h4>
  <p>
    The gif-ification used in this app was imported from the tool 'Gifshot', which has some really cool features like using your webcam to create GIFs. Say cheese!
  </p>

  <h4>Angular</h4>
  <p>This app is written in Angular, connecting to a backend written in Express and Node, with a Mongo database. If only there were some accronym for that stack... something like... ENAM. Nah that's weird. Oh well.</p>
</div>
