<aside class="sidebar">
  <div class="sidenav-outer">
    <div class="menu-body">
      <ul class="nav nav-pills nav-stacked sidenav">
        <li>
          <a [routerLink]="['Home']" class="website-name">
            flipbook
          </a>
        </li>
        <li>
          <a [routerLink]="['Home']" class="logo">
            <img src="images/logo.png" class="site-avatar" />
            <p class="text-xs-center">Ani pascal</p>
          </a>
        </li>
        <li>
          <a href="#/">
            <i class="fa fa-home"></i>
            <span>&nbsp; Home</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['Home']">
            <i class="fa fa-folder-open-o"></i>
            <span>&nbsp; Gallery</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['Home']">
            <i class="fa fa-plus"></i>
            <span>&nbsp; Create</span>
          </a>
        </li>
        <li ng-show=true>
          <a ng-href="#/about">
            <i class="fa fa-info-circle"></i>
            <span>&nbsp; About</span>
          </a>
        </li>
        <li>
          <a ng-click="gotoLogin()"><i class="fa fa-sign-out"></i><span>&nbsp;&nbsp; Logout</span></a>
        </li>
      </ul>
    </div>
  </div>
</aside>
